*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    background-color: #edf2f4;
    height: 100%;
}
.about{
    background-color: rgb(193, 18, 31);
    height: 100vh;
}

.home img{
    max-width: 100%;
    height: 80%;
}
.home h1{
    font-size: 64px;
    font-family: 'Vazirmatn', sans-serif;
    font-weight: 400;
}
.home h2{
    font-size: 90px;
    font-family: 'Vazirmatn', sans-serif;
    font-weight: 800;
}
.home h2 span{
    font-size: 108px;
    font-family: 'Zen Tokyo Zoo', cursive;
    color: #C1121F;
}
.home p{
    font-size: 20px;
    font-family: 'Vazirmatn', sans-serif;
    font-weight: 700;
    margin: 0;
}
.div-p{
    background-color: #C1121F;
    box-shadow: black -5px 1px 2px 1px;
}
.home button{
    background-color: #C1121F;
    width: 150px;
    color:white ;
    font-weight: 400;
    font-family: 'Vazirmatn', sans-serif;
}
.home button:hover{
    cursor: pointer;
    color: black;
}
.nav-fix{
    position:fixed;
    height: 350px;
    width: 40px;
    background-color: #003049;
    border-radius: 50px;
    right: 1%;
    top:20%;
}

.nav-fix div i{
    font-size: 20px;
    height: 50px;
    color: black;
}

.h1{
    background-color: #C1121F;
    width:150px;
    box-shadow: black 5px 1px 2px 1px;
}

.pointer{
    cursor: pointer;
}


/* CSS-button */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

@media (min-width: 992px) and (max-width: 1360px){
   
    .home img{
        max-width: 100%;
        height: 60%;
    }
    .home p{
        font-size: 15px;
        font-family: 'Vazirmatn', sans-serif;
        font-weight: 700;
        margin: 0;

    }
}

@media (max-width: 575.98px) { 
    .home p{
        font-size: 15px;
        font-family: 'Vazirmatn', sans-serif;
        font-weight: 700;
        margin: 0;

    }
    .div-p{
        width: 200px;
        margin-left: 50px;
        background-color: #C1121F;
    }
    .home h2{
        font-size: 50px;
    }
    .home h2 span{
        font-size: 70px;
    }
    .home button{
        font-size: 10px;
        background-color: #C1121F;
        width: 110px;
        color:white ;
        font-weight: 400;
        font-family: 'Vazirmatn', sans-serif;
    }
 }

